<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

    <ion-title>Popular Movies</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="searchQuery" (ionInput)="searchMovies()" (ionClear)="clearFilterMovie()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding class="popular-movies">
  Popular Movies
  <ion-row *ngFor="let i of movieRows;">
    <ion-col *ngFor="let movie of popularMoviesFound | slice:(i*3):(i+1)*3; let t=index" (click)="goToMovieDetail(movie)">
      <template [ngIf]="i<6">
        <img src="{{baseImageUrl}}{{movie.poster_path}}" onError="this.src='assets/img/noimage.png'">
        <p>{{movie.title}}
          <p>
      </template>
    </ion-col>
  </ion-row>
  <div>
    Powered By
    <img src="assets/img/tmdb.png" width="30%" height="10%" align="right">
  </div>

  <ion-fab center bottom>
    <button ion-fab color="primary"><ion-icon name="ios-hand-outline"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="previousPage()"><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-fab (click)="nextPage()"><ion-icon name="arrow-dropright" ></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>